<footer id="page-footer">
  <p>
    Copyright &copy; 2014-<%= Time.now.strftime('%y') %>
    <%= link_to 'Sam Hain', 'http://netmostwebdesign.com' %>
  </p>
  <p>
    For educational purposes only.
  </p>
</footer>